<!-- CONTENT -->
<div class="content">
    <div id="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>About us</h4>
                </div>
                <!-- col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li><a data-ui-sref="app.home">Home</a></li>
                        <li class="active">About Us</li>
                    </ol>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- ontainer -->
    </div>
    <!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="headline style-3">
                    <h5>BUSSTESTTO</h5>
                    <h2>About our work</h2>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                </div>
                <!-- headline -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- ontainer -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img class="wow pulse" src="images/about/image-1.jpg" alt="">
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- ontainer -->
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Sed ut perspiciatis unde om nis iste natus volupta.</h3>
                <br>
                <p>Praesent efficitur enim eros, id varius diam pretium vel. Curabitur pharetra sed ligula ut euismod. Ut id varius nulla, quis consectetur leo. Suspendisse ut diam maximus, luctus orci vestibulum, faucibus dolor. Vestibulum odio sem, dapibus ut nulla eget, auctor porta nisl.</p>
                <p>Aenean tempor, felis et posuere varius, arcu enim suscipit nisi, et sagittis neque mauris a nisi. Vivamus posuere scelerisque risus, in luctus dui vehicula et. Praesent posuere varius lectus, a molestie eros tempor accumsan. Cras malesuada aliquet enim, et facilisis felis convallis eget.</p>
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- ontainer -->
    <!-- ontainer -->
    <section class="full-section parallax" id="section-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="counter">
                        <i class="miu-icon-other_conversation_review_comment_bubble_talk_outline_stroke"></i>
                        <div class="counter-value" data-value="139"></div>
                        <div class="counter-details">
                            <p>Satisfied clients</p>
                        </div>
                        <!-- counter-details -->
                    </div>
                    <!-- counter -->
                </div>
                <!-- col -->
                <div class="col-sm-3">
                    <div class="counter">
                        <i class="miu-icon-editor_alarm_clock_outline_stroke"></i>
                        <div class="counter-value" data-value="24"></div>
                        <div class="counter-details">
                            <p>Hours a day</p>
                        </div>
                        <!-- counter-details -->
                    </div>
                    <!-- counter -->
                </div>
                <!-- col -->
                <div class="col-sm-3">
                    <div class="counter">
                        <i class="miu-icon-editor_setting_gear_outline_stroke"></i>
                        <div class="counter-value" data-value="1127"></div>
                        <div class="counter-details">
                            <p>Project in work</p>
                        </div>
                        <!-- counter-details -->
                    </div>
                    <!-- counter -->
                </div>
                <!-- col -->
                <div class="col-sm-3">
                    <div class="counter">
                        <i class="miu-icon-editor_documents_files_outline_stroke"></i>
                        <div class="counter-value" data-value="253"></div>
                        <div class="counter-details">
                            <p>Employes</p>
                        </div>
                        <!-- counter-details -->
                    </div>
                    <!-- counter -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- ontainer -->
    </section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="headline style-3">
                    <h5>BUSSTESTTO</h5>
                    <h2>Meet our team</h2>
                    <p> Temporibus autem quibusdam et aut officiis debitis aut rerum.</p>
                </div>
                <!-- headline -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>

    <!-- ontainer -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="about-me wow fadeInLeft">
                    <div class="about-me-thumbnail">
                        <img src="images/about/team/image-1.jpg" alt="">
                        <div class="social-media">
                            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <!-- social-media -->
                    </div>
                    <!-- about-me-thumbnail -->
                    <div class="about-me-details">
                        <h4>John Snow</h4>
                        <h5>Project manager</h5>
                    </div>
                    <!-- about-me-details -->
                </div>
                <!-- about-me -->
            </div>
            <!-- col -->
            <div class="col-sm-4">
                <div class="about-me wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="about-me-thumbnail">
                        <img src="images/about/team/image-2.jpg" alt="">
                        <div class="social-media">
                            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <!-- social-media -->
                    </div>
                    <!-- about-me-thumbnail -->
                    <div class="about-me-details">
                        <h4>Daenerys Targaryen</h4>
                        <h5>Art director</h5>
                    </div>
                    <!-- about-me-details -->
                </div>
                <!-- about-me -->
            </div>
            <!-- col -->
            <div class="col-sm-4">
                <div class="about-me wow fadeInLeft" data-wow-delay="0.6s">
                    <div class="about-me-thumbnail">
                        <img src="images/about/team/image-3.jpg" alt="">
                        <div class="social-media">
                            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <!-- social-media -->
                    </div>
                    <!-- about-me-thumbnail -->
                    <div class="about-me-details">
                        <h4>Jaime Lannister</h4>
                        <h5>Web designer</h5>
                    </div>
                    <!-- about-me-details -->
                </div>
                <!-- about-me -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    
    <section class="full-section parallax" id="section-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headline style-2">
                        <i class="miu-icon-other_conversation_review_comment_bubble_talk_outline_stroke"></i>
                        <h2>WHAT PEOPLE SAYS</h2>
                    </div>
                    <!-- headline -->
                    <div class="testimonial-slider">
                        <ul>
                            <li>
                                <div class="testimonial">
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </blockquote>
                                    <h5>John Smith, Crazytown inc.</h5>
                                </div>
                                <!-- testimonial -->
                            </li>
                            <li>
                                <div class="testimonial">
                                    <blockquote>
                                        <p>Quisque neque orci, dictum eu egestas eget, porta vel dolor. Etiam vel nunc pulvinar, suscipit urna sit amet, efficitur nibh. Nulla convallis ut lectus a tempor. Nullam tincidunt pulvinar sodales. Nunc sed erat et risus luctus sollicitudin.</p>
                                    </blockquote>
                                    <h5>Jane Smith, BUSSTESTTOBrand</h5>
                                </div>
                                <!-- testimonial -->
                            </li>
                            <li>
                                <div class="testimonial">
                                    <blockquote>
                                        <p>Phasellus finibus erat non ligula semper tempor. Curabitur augue lacus, mattis id enim vehicula, dictum sollicitudin arcu. Cras sodales dolor quis ligula hendrerit, auctor dapibus nibh sagittis. Sed congue, purus semper dapibus sagittis arcu.</p>
                                    </blockquote>
                                    <h5>Paul Willson, The Muse</h5>
                                </div>
                                <!-- testimonial -->
                            </li>
                        </ul>
                        <div id="thumb-pager">
                            <a data-slide-index="0" href=""><img src="images/testimonials/image-1.jpg" alt=""></a>
                            <a data-slide-index="1" href=""><img src="images/testimonials/image-2.jpg" alt=""></a>
                            <a data-slide-index="2" href=""><img src="images/testimonials/image-3.jpg" alt=""></a>
                        </div>
                        <!-- thumb-pager -->
                    </div>
                    <!-- testimonial-slider -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- fullsection -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="headline style-3">
                    <h5>BUSSTESTTO’s Recognicion</h5>
                    <h2>Awards &amp; media presence</h2>
                </div>
                <!-- headline -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- ontainer -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="timeline">
                    <div class="timeline-item wow fadeInDown">
                        <h4>September 2014</h4>
                        <h2><a href="#">Best website award</a></h2>
                        <h4>
                                    Best original website 2014<br>
                                    Developer of the year<br>
                                    Featured by Design magazine
                                </h4>
                    </div>
                    <!-- timeline-item -->
                    <div class="timeline-item wow fadeInDown">
                        <h4>November 2014</h4>
                        <h2><a href="#">Best website award</a></h2>
                        <h4>
                                    Website of the year 2014<br>
                                    Quality and design award 2014
                                </h4>
                    </div>
                    <!-- timeline-item -->
                    <div class="timeline-item wow fadeInDown">
                        <h4>December 2014</h4>
                        <h2><a href="#">Design of the year 2015</a></h2>
                        <h4>
                                    Nominated as the Best original website 2015<br>
                                    Design and webdesign category<br>
                                    Interview at the national television<br>
                                    Best sales in 2015
                                </h4>
                    </div>
                    <!-- timeline-item -->
                </div>
                <!-- timeline -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- ontainer -->
    <section class="full-section parallax" id="section-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center"><a class="btn btn-default" data-ui-sref="app.contact">Contact us<i class="fa fa-arrow-right"></i></a></p>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- ontainer -->
    </section>
    <!-- full-section -->
</div>
<!-- CONTENT -->
<script src="assets/js/custom.js"></script>
