<!-- HEADER -->
<div ng-controller="HomeController">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <!-- LOGO -->
                    <a id="logo" data-ui-sref="app.home">
                        <img src="images/backgrounds/logo.png" alt="">
                    </a>
                </div>
                <!-- col -->
                <div class="col-sm-10">
                    <!-- SEARCH -->
                    <!-- <div id="search-container">
                            <form id="search-form" name="search-form" method="get" action="#">
                                <fieldset>
                                    <input type="text" name="search" placeholder="Enter your keyword here and then press enter...">
                                </fieldset>
                            </form>
                        </div> -->
                    <!-- search-container -->
                    <!-- <a class="search-button" href="#"></a>
 -->
                    <!-- MENU -->
                    <nav>
                        <a id="mobile-menu-button" href="#"><i class="fa fa-bars"></i></a>
                        <ul class="menu clearfix" id="menu">
                            <li><a data-ui-sref="app.home">Home</a></li>
                            <li class="megamenu active">
                                <a href="#/app/services">Services</a>
                                <div class="megamenu-container col-4">
                                    <div class="section">
                                        <img class="hidden-xs hidden-sm" src="images/backgrounds/image-megamenu.jpg" alt="">
                                    </div>
                                    <!-- section -->
                                    <div class="section" ng-repeat="service in services">
                                        <h5>{{::service.name}}</h5>
                                        <ul>
                                            <li ng-repeat ="subServ in service.sub_serv"><a data-ui-sref="app.singleservice({'id':subServ.name})" >{{::subServ.name}}</a></li>
                                            <!-- <li><a data-ui-sref="app.singleservice">Service-2</a></li>
                                            <li><a data-ui-sref="app.singleservice">Service-3</a></li>
                                            <li><a data-ui-sref="app.singleservice">Service-4</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                                <!-- megamenu-container -->
                            </li>
                            <li class="dropdown">
                                    <a data-ui-sref="app.about">About</a>
                                    <ul>
                                        <li><a data-ui-sref="app.about">About US</a></li>
                                        <li><a data-ui-sref="app.about">About Work</a></li>
                                    </ul>
                                </li>
                                <!-- <li class="dropdown">
                                    <a href="portfolio-classic.html">Portfolio</a>
                                    <ul>
                                        <li><a href="portfolio-classic.html">Portfolio classic</a></li>
                                        <li><a href="portfolio-filterable.html">Portfolio filterable 1</a></li>
                                        <li><a href="portfolio-filterable-2.html">Portfolio filterable 2</a></li>
                                        <li><a href="portfolio-masonry.html">Portfolio masonry</a></li>
                                        <li><a href="portfolio-parallax.html">Portfolio parallax</a></li>
                                        <li><a href="portfolio-wide.html">Portfolio wide</a></li>
                                        <li><a href="portfolio-single.html">Portfolio single 1</a></li>
                                        <li><a href="portfolio-single-2.html">Portfolio single 2</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="blog-classic.html">Blog</a>
                                    <ul>
                                        <li><a href="blog-classic.html">Blog classic</a></li>
                                        <li><a href="blog-columns.html">Blog columns</a></li>
                                        <li><a href="blog-masonry.html">Blog masonry</a></li>
                                        <li><a href="blog-post.html">Blog post</a></li>
                                    </ul>
                                </li>-->
                            <!-- <li><a data-ui-sref="app.about">About</a></li> -->
                            <li><a data-ui-sref="app.contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </header>
    <!-- HEADER -->
    <div ui-view></div>
    <!-- FOOTER -->
    <footer>
        <div id="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="widget widget-social">
                            <div class="social-media">
                                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
                                <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                                <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
                                <a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a>
                                <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                                <a class="vine" href="#"><i class="fa fa-vine"></i></a>
                                <a class="behance" href="#"><i class="fa fa-behance"></i></a>
                            </div>
                            <!-- social-media -->
                        </div>
                        <!-- widget-social -->
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- footer-top -->
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="widget widget-text">
                            <h3 class="widget-title">About BUSSTESTTO</h3>
                            <p>Lorem ipsum dolor sit amet unde ligula, sodales et quam non, omis finibus eros. Pharetra nulla lactus arcu non, venenatis orci pharetra. Nunc sed odio a velit placerat sit eget hendrerit elit.</p>
                        </div>
                        <!-- widget-text -->
                        <div class="widget widget-newsletter">
                            <form name="newsletter" method="post" action="#">
                                <fieldset>
                                    <input type="text" name="email" placeholder="Email address">
                                    <input class="btn btn-default" type="submit" name="submit" value="">
                                </fieldset>
                            </form>
                            <p>Nemo enim ipsam voluptatem</p>
                        </div>
                        <!-- widget-newsletter -->
                    </div>
                    <!-- col -->
                    <div class="col-sm-3">
                        <div class="widget widget-latest-news">
                            <h3 class="widget-title">Latest news</h3>
                            <ul>
                                <li ng-repeat="news in latestNews">
                                    <img src="{{::news.imgUrl}}" alt="">
                                    <p class="news-title"><a href="#">{{::news.content}}</a></p>
                                    <p class="news-date">{{::news.date}}</p>
                                </li>
                            </ul>
                        </div>
                        <!-- widget-recent-posts -->
                    </div>
                    <!-- col -->
                    <div class="col-sm-3">
                        <div class="widget widget-flickr">
                            <h3 class="widget-title">Flickr</h3>
                            <div class="flickr-photos">
                                <script src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08"></script>
                            </div>
                            <!-- flickr-photos -->
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            </p>
                        </div>
                        <!-- widget-flickr -->
                    </div>
                    <!-- col -->
                    <div class="col-sm-3">
                        <div class="widget widget-contact">
                            <h3 class="widget-title">Contact Us</h3>
                            <ul>
                                <li>
                                    <span>Address</span> 1713 Hide A Way Road
                                    <br> San Jose, CA 95118
                                </li>
                                <li>
                                    <span>Phone &amp; Fax</span> +408-267-8351
                                    <br> +408-267-8344
                                </li>
                                <li>
                                    <span>E-mail</span>
                                    <a href="mailto:support@BUSSTESTTO.com">support@BUSSTESTTO.com</a>
                                </li>
                            </ul>
                        </div>
                        <!-- widget-contact -->
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- footer -->
        <div id="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="widget widget-text">
                            <p class="last text-center text-uppercase">&copy; All Rights Reserved <span class="text-primary">BUSSTESTTO</span>
                                <span class="text-lowercase"> template.</span></p>
                        </div>
                        <!-- widget-text -->
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- footer-bottom -->
    </footer>
    <!-- FOOTER -->
</div>
<!-- PAGE-WRAPPER -->
<!-- GO TOP -->
<a id="go-top"><i class="miu-icon-circle_arrow-up_glyph"></i></a>
</footer>
<!-- jQUERY -->
</div>
