<!-- CONTENT -->
<div class="content">
    <div id="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Contact</h4>
                </div>
                <!-- col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li><a data-ui-sref="app.home">Home</a></li>
                        <li class="active">Contact</li>
                    </ol>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- ontainer -->
    </div>
    <!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="headline style-3">
                    <h5>Say hello</h5>
                    <h2>Contact our team</h2>
                    <p> Temporibus autem quibusdam et aut officiis debitis aut rerum.</p>
                </div>
                <!-- headline -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-6">
                <form id="contact-form" name="contact-form" action="assets/php/send.php" method="post">
                    <fieldset>
                        <div id="alert-area"></div>
                        <input class="col-xs-12" id="name" type="text" name="name" placeholder="name">
                        <input class="col-xs-12" id="email" type="text" name="email" placeholder="email">
                        <input class="col-xs-12" id="subject" type="text" name="subject" placeholder="subject">
                        <textarea class="col-xs-12" id="message" name="message" rows="8" cols="25" placeholder="message"></textarea>
                        <input class="btn btn-default" id="submit" type="submit" name="submit" value="Submit">
                    </fieldset>
                </form>
            </div>
            <!-- col -->
            <div class="col-sm-5">
                <div class="widget widget-contact">
                    <h3 class="widget-title">Contact Information</h3>
                    <ul>
                        <li>
                            <span>Address</span> 1713 Hide A Way Road
                            <br> San Jose, CA 95118
                        </li>
                        <li>
                            <span>Phone &amp; Fax</span> +408-267-8351
                            <br> +408-267-8344
                        </li>
                        <li>
                            <span>E-mail</span>
                            <a href="mailto:support@BUSSTESTTO.com">support@BUSSTESTTO.com</a>
                        </li>
                    </ul>
                </div>
                <!-- widget-contact -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div my-map=""></div>
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
