<!-- CONTENT -->
<div class="content">
    <div class="bannercontainer" id="imgSlider">
        <div class="banner">
            <ul>
                <li data-transition="slotfade-horizontal">
                    <img src="images/index/revolution-slider/bg-slide-1.jpg" alt="">
                    <div class="tp-caption fade" data-x="-150" data-y="70" data-speed="700" data-start="1000" data-easing="easeOutBack">
                        <img src="images/index/revolution-slider/slide-1-image-1.png" alt="">
                    </div>
                    <div class="tp-caption fade" data-x="270" data-y="120" data-speed="700" data-start="1400" data-easing="easeOutBack">
                        <img src="images/index/revolution-slider/slide-1-image-2.png" alt="">
                    </div>
                    <div class="tp-caption fade" data-x="300" data-y="50" data-speed="700" data-start="1800" data-easing="easeOutBack">
                        <img src="images/index/revolution-slider/slide-1-image-3.png" alt="">
                    </div>
                    <div class="tp-caption sfb" data-x="530" data-y="220" data-speed="700" data-start="2400" data-easing="easeOutBack">
                        <img src="images/index/revolution-slider/slide-1-image-4.png" alt="">
                    </div>
                    <div class="tp-caption fade" data-x="650" data-y="340" data-speed="700" data-start="2800" data-easing="easeOutBack">
                        <img src="images/index/revolution-slider/slide-1-image-5.png" alt="">
                    </div>
                    <div class="tp-caption title sft" data-x="830" data-y="150" data-speed="700" data-start="3200" data-easing="easeOutBack">
                        Clean cut,
                        <br> Inovative Design
                    </div>
                    <div class="tp-caption text sfr" data-x="830" data-y="240" data-speed="700" data-start="3700" data-easing="easeOutBack">
                        <em>Lorem ipsum dolor sit amet, consectetur adipiscing <br>
                                eiusmod tempor incididunt ut labore et dolore magna. </em>
                    </div>
                    <div class="tp-caption social-icon sfl" data-x="830" data-y="310" data-speed="700" data-start="4400" data-easing="easeOutBack">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="tp-caption social-icon sfl" data-x="865" data-y="310" data-speed="700" data-start="4700" data-easing="easeOutBack">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="tp-caption social-icon sfl" data-x="910" data-y="310" data-speed="700" data-start="5000" data-easing="easeOutBack">
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="tp-caption sfb" data-x="830" data-y="360" data-speed="700" data-start="5400" data-easing="easeOutBack">
                        <a class="btn btn-default" data-ui-sref="app.contact">Contact Us<i class="fa fa-arrow-right"></i></a>
                    </div>
                </li>
                <li data-transition="slotfade-horizontal">
                    <img src="images/index/revolution-slider/bg-slide-2.jpg" alt="">
                    <div class="tp-caption sft" data-x="540" data-y="125" data-speed="700" data-start="1200" data-easing="easeOutBack">
                        <img src="images/index/revolution-slider/slide-2-image-1.png" alt="">
                    </div>
                    <div class="tp-caption title-white text-center sft" data-x="245" data-y="285" data-speed="700" data-start="1700" data-easing="easeOutBack">
                        A new way to build your
                        <br> business online
                    </div>
                    <div class="tp-caption sfb" data-x="450" data-y="450" data-speed="700" data-start="2200" data-easing="easeOutBack">
                        <a class="btn btn-default" data-ui-sref="app.contact">Contact Us<i class="fa fa-arrow-right"></i></a>
                    </div>
                </li>
                <li data-transition="slotfade-horizontal">
                    <img src="images/index/revolution-slider/bg-slide-3.jpg" alt="">
                    <div class="tp-caption sfl" data-x="0" data-y="75" data-speed="700" data-start="1700" data-easing="easeOutBack">
                        <img src="images/index/revolution-slider/slide-3-image-1.png" alt="">
                    </div>
                    <div class="tp-caption title sft" data-x="830" data-y="180" data-speed="700" data-start="2200" data-easing="easeOutBack">
                        Multiple
                        <br> Portfolio pages
                    </div>
                    <div class="tp-caption text-white sfr" data-x="830" data-y="270" data-speed="700" data-start="2700" data-easing="easeOutBack">
                        Cras vestibulum ante in fermentum pretium.
                        <br> Odio ipsum, ac feugiat tellus facilisis id nullam.
                        <br> Etiam at dictum quam. Nunc ac ultrices orci duis
                        <br> hendrerit, efficitur metus quis, finibus elit.
                    </div>
                    <div class="tp-caption sfb" data-x="830" data-y="390" data-speed="700" data-start="3200" data-easing="easeOutBack">
                        <a class="btn btn-default" data-ui-sref="app.contact">Contact Us<i class="fa fa-arrow-right"></i></a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- banner -->
    </div>
    <br>
    <br>
    <div ng-include="'partials/service-view.html'"></div>
    <!-- container -->
    <!-- ontainer -->
    <!-- container -->
    <section class="full-section parallax" id="section-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headline style-2">
                        <i class="miu-icon-other_conversation_review_comment_bubble_talk_outline_stroke"></i>
                        <h2>HOW DO WE WORK </h2>
                    </div>
                    <!-- headline -->
                    <div class="testimonial-slider">
                        <ul>
                            <li>
                                <div class="testimonial">
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </blockquote>
                                </div>
                                <!-- testimonial -->
                            </li>
                            <li>
                                <div class="testimonial">
                                    <blockquote>
                                        <p>Quisque neque orci, dictum eu egestas eget, porta vel dolor. Etiam vel nunc pulvinar, suscipit urna sit amet, efficitur nibh. Nulla convallis ut lectus a tempor. Nullam tincidunt pulvinar sodales. Nunc sed erat et risus luctus sollicitudin.</p>
                                    </blockquote>
                                </div>
                                <!-- testimonial -->
                            </li>
                            <li>
                                <div class="testimonial">
                                    <blockquote>
                                        <p>Phasellus finibus erat non ligula semper tempor. Curabitur augue lacus, mattis id enim vehicula, dictum sollicitudin arcu. Cras sodales dolor quis ligula hendrerit, auctor dapibus nibh sagittis. Sed congue, purus semper dapibus sagittis arcu.</p>
                                    </blockquote>
                                </div>
                                <!-- testimonial -->
                            </li>
                        </ul>
                        <div id="thumb-pager">
                            <a data-slide-index="0" href=""><img src="images/testimonials/image-1.jpg" alt=""></a>
                            <a data-slide-index="1" href=""><img src="images/testimonials/image-2.jpg" alt=""></a>
                            <a data-slide-index="2" href=""><img src="images/testimonials/image-3.jpg" alt=""></a>
                        </div>
                        <!-- thumb-pager -->
                    </div>
                    <!-- testimonial-slider -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- full-section -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="headline style-1">
                    <h4>Skills</h4>
                    <h2>Progress</h2>
                </div>
                <!-- headline -->
                <div class="progress">
                    <div class="progress-bar" data-width="90"></div>
                </div>
                <!-- progess -->
                <div class="progress-bar-title">
                    <h5>Marketing <span style="left:90%">90%</span></h5>
                </div>
                <!-- progress-bar-title -->
                <div class="progress">
                    <div class="progress-bar" data-width="95"></div>
                </div>
                <!-- progess -->
                <div class="progress-bar-title">
                    <h5>Design <span style="left:95%">95%</span></h5>
                </div>
                <!-- progress-bar-title -->
                <div class="progress">
                    <div class="progress-bar" data-width="85"></div>
                </div>
                <!-- progess -->
                <div class="progress-bar-title">
                    <h5>Team work <span style="left:85%">85%</span></h5>
                </div>
                <!-- progress-bar-title -->
            </div>
            <!-- col -->
            <div class="col-sm-4">
                <div class="headline style-1">
                    <h4>Some text</h4>
                    <h2>Our Work</h2>
                </div>
                <!-- headline -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Praesent et justo vitae nunc venenatis. </p>
            </div>
            <!-- col -->
            <div class="col-sm-4">
                <div class="headline style-1">
                    <h4>Checklist</h4>
                    <h2>The List</h2>
                </div>
                <!-- headline -->
                <ul class="check-list">
                    <li>Nullam commodo sapien ac</li>
                    <li>Fusce et turpis massa sed</li>
                    <li>Quisque vel elit ac omis</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Ut enim ad minim veniam</li>
                    <li>Praesent ullamco laboris</li>
                </ul>
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
</div>
<!-- CONTENT -->
<script src="assets/js/custom.js"></script>
