<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="headline style-3">
                <h5>All in one</h5>
                <h2>Services</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium do loremque laudantium.</p>
            </div>
            <!-- headline -->
        </div>
        <!-- col -->
    </div>
    <!-- row -->
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4" ng-repeat="service in subServ | limitTo:serviceLen">
            <div class="services-boxes style-2 wow fadeInDown">
                <div class="services-boxes-content">
                    <h3>
                                    <a data-ui-sref="app.singleservice({'id':service.name})" >{{::service.name}}</a>
                                    <small>{{::service.sDesc}}</small>
                                </h3>
                    <p>{{::service.desc}}</p>
                </div>
                <!-- services-boxes-content -->
            </div>
            <!-- services-boxes -->
        </div>
        <!-- col -->
    </div>
</div>
