<!-- CONTENT -->
<div class="content" ng-controller="ServicesController">
    <div id="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Services</h4>
                </div>
                <!-- col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li><a data-ui-sref="app.home">Home</a></li>
                        <li class="active">Services</li>
                    </ol>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- ontainer -->
    </div>
    <!-- page-header -->
    <div ng-include="'partials/service-view.html'"></div>
    <!-- ontainer -->
   
    <!-- ontainer -->
    <section class="full-section parallax" id="section-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="process-steps process-6-steps clearfix">
                        <div class="step">
                            <i class="miu-icon-editor_books_library_collection_outline_stroke"></i>
                            <div class="step-details">
                                <h5>Land project</h5>
                            </div>
                            <!-- step-details -->
                        </div>
                        <!-- step -->
                        <div class="step">
                            <i class="miu-icon-editor_document_file_2_outline_stroke"></i>
                            <div class="step-details">
                                <h5>Make plans</h5>
                            </div>
                            <!-- step-details -->
                        </div>
                        <!-- step -->
                        <div class="step">
                            <i class="miu-icon-device_volume_loudspeaker_speaker_down_outline_stroke"></i>
                            <div class="step-details">
                                <h5>Ideas</h5>
                            </div>
                            <!-- step-details -->
                        </div>
                        <!-- step -->
                        <div class="step">
                            <i class="miu-icon-device_power_outline_stroke"></i>
                            <div class="step-details">
                                <h5>Work hard</h5>
                            </div>
                            <!-- step-details -->
                        </div>
                        <!-- step -->
                        <div class="step">
                            <i class="miu-icon-common_star_favorite_bookmark_outline_stroke"></i>
                            <div class="step-details">
                                <h5>See results</h5>
                            </div>
                            <!-- step-details -->
                        </div>
                        <!-- step -->
                        <div class="step">
                            <i class="miu-icon-food-drink_cocktail_wine_glass_outing_drink_outline_stroke"></i>
                            <div class="step-details">
                                <h5>Enjoy</h5>
                            </div>
                            <!-- step-details -->
                        </div>
                        <!-- step -->
                    </div>
                    <!-- porcess-steps -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- ontainer -->
    </section>
    <!-- full-section -->
    <div ng-include="'partials/features.html'"></div>
    <!-- container -->
    <section class="full-section-cust" id="section6-cust">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="logos clearfix">
                        <li><img src="images/logos/image-1.png" alt=""></li>
                        <li><img src="images/logos/image-2.png" alt=""></li>
                        <li><img src="images/logos/image-3.png" alt=""></li>
                        <li><img src="images/logos/image-4.png" alt=""></li>
                        <li><img src="images/logos/image-5.png" alt=""></li>
                    </ul>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- ontainer -->
    </section>

    <!-- ontainer -->
    <section class="full-section parallax" id="section4-cust">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center"><a class="btn btn-default" data-ui-sref="app.contact">Contact us<i class="fa fa-arrow-right"></i></a></p>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- ontainer -->
    </section>
    <!-- full-section -->
</div>
<!-- CONTENT -->
<script src="assets/js/custom.js"></script>
