<!-- CONTENT -->
<div class="content" ng-controller="SingleServiceController">
    <div id="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>{{::response.name}}</h4>
                </div>
                <!-- col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li><a data-ui-sref="app.home">Home</a></li>
                        <li><a data-ui-sref="app.services">Services</a></li>
                        <li class="active">{{::response.name}}</li>
                    </ol>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- ontainer -->
    </div>
    <!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="headline style-1">
                    <h4>Dervice description</h4>
                    <h2>{{::name}} service</h2>
                </div>
                <!-- headline -->
                <p>{{::response.name}}</p>
                <p>{{::response.desc}}</p>
            </div>
            <!-- col -->
            <div class="col-sm-6">
                <p class="text-center wow pulse"><img src="images/services/image-1.png" alt=""></p>
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- ontainer -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="headline style-1">
                    <h4>In case you didn't know</h4>
                    <h2>This service comes with</h2>
                </div>
                <!-- headline -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="circle-list">
                    <li>Maecenas accumsan tortor eu tellus ullamcorper vel blandit Maecenas accumsan tortor eu tellus ullamcorper vel blandit accumsan tortor eu tellus ullamcorper vel </li>
                </ul>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas aspernatur aut odit aut fugit, consequuntur magni dolores eos qui ratione voluptatem sequi.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
            </div>
            <!-- col -->
            <!--
			<div class="col-sm-6">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab-1" data-toggle="tab">About</a></li>
					<li><a href="#tab-2" data-toggle="tab">Why choose</a></li>
					<li><a href="#tab-3" data-toggle="tab">Features</a></li>
				</ul>                                            
			
				 <div class="tab-content">
					<div class="tab-pane fade in active" id="tab-1">
							
						<img src="images/services/tabs/image-1.jpg" alt="">
						
						<p>Etiam a suscipit erat. Vestibulum placerat nec sapien sed bibendum. Pellentesque lobortis est vitae 
						pulvinar rutrum. Praesent et venenatis.</p>
							
					</div>
					<div class="tab-pane fade" id="tab-2">
							
						<img src="images/services/tabs/image-2.jpg" alt="">
						
						<p>Curabitur iaculis sapien porta leo fermentum, nec rutrum orci eleifend. Vestibulum sollicitudin lacinia 
						metus, non malesuada quam placerat.</p>
							
					</div>
					<div class="tab-pane fade" id="tab-3">
						
						<img src="images/services/tabs/image-3.jpg" alt="">    
							
						<p>Omis a suscipit erat. Vestibulum placerat nec sapien sed bibendum. Pellentesque lobortis est vitae 
						pulvinar rutrum. Praesent et venenatis.</p>
							
					</div>
				</div>
				
			</div>
			-->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <br>
    <br>
    <div ng-include="'partials/features.html'"></div>
    <section class="full-section parallax" id="section-7">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="headline style-3">
                        <h5>Dont worry</h5>
                        <h2>We have skills</h2>
                    </div>
                    <!-- headline -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="pie-chart" data-percent="75" data-size="225" data-line-width="4" data-track-color="#3b3e43" data-bar-color="#bca480">
                        <div class="pie-chart-details">
                            <h1>
								<span class="value"></span>%
								<small>Pure love</small>
							</h1>
                        </div>
                        <!-- pie-chart-details -->
                    </div>
                    <!-- pie-chart -->
                </div>
                <!-- col -->
                <div class="col-sm-3">
                    <div class="pie-chart" data-percent="83" data-size="225" data-line-width="4" data-track-color="#3b3e43" data-bar-color="#bca480">
                        <div class="pie-chart-details">
                            <h1>
								<span class="value"></span>%
								<small>Design</small>
							</h1>
                        </div>
                        <!-- pie-chart-details -->
                    </div>
                    <!-- pie-chart -->
                </div>
                <!-- col -->
                <div class="col-sm-3">
                    <div class="pie-chart" data-percent="58" data-size="225" data-line-width="4" data-track-color="#3b3e43" data-bar-color="#bca480">
                        <div class="pie-chart-details">
                            <h1>
								<span class="value"></span>%
								<small>Plain luck</small>
							</h1>
                        </div>
                        <!-- pie-chart-details -->
                    </div>
                    <!-- pie-chart -->
                </div>
                <!-- col -->
                <div class="col-sm-3">
                    <div class="pie-chart" data-percent="95" data-size="225" data-line-width="4" data-track-color="#3b3e43" data-bar-color="#bca480">
                        <div class="pie-chart-details">
                            <h1>
								<span class="value"></span>%
								<small>Excelence</small>
							</h1>
                        </div>
                        <!-- pie-chart-details -->
                    </div>
                    <!-- pie-chart -->
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!-- full-section -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="headline style-3">
                    <h5>All in one</h5>
                    <h2>Related services</h2>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum</p>
                </div>
                <!-- headline -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4" ng-repeat="relServ in relatedServ | limitTo : 3" >
                <div class="services-boxes style-2 wow fadeInDown">
                    <div class="services-boxes-content" >
                        <h3>
							<a data-ui-sref="app.singleservice({'id':relServ.name})">{{::relServ.name}}</a>
							<small>{{::relServ.sDesc}}</small>
						</h3>
                        <p>{{::relServ.desc}}</p>
                    </div>
                    <!-- services-boxes-content -->
                </div>
                <!-- services-boxes -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- ontainer -->
    <section class="full-section parallax" id="section-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center"><a class="btn btn-default" data-ui-sref="app.contact">Contact us<i class="fa fa-arrow-right"></i></a></p>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
        <!-- ontainer -->
    </section>
    <!-- full-section -->
</div>
<!-- CONTENT -->
<script src="assets/js/custom.js"></script>
