.bannercontainer {
    margin-bottom: 0px;
}

#section6-cust {
    background-color: #f4f4f4;
    padding: 85px 0 65px;
}

.full-section-cust {
    position: relative;
    z-index: 0;
    padding: 60px 0;
    background: #333 no-repeat center center;
    color: #fff;
}

#section4-cust {
    background-image: url(../../images/backgrounds/bg-3.jpg);
    margin-bottom: 0;
    padding: 85px 0 45px;
}
